.DS_Store
2024_09-queimadas/Dados/*.csv
2024_10-infratores_doadores/data-raw/receita.csv
2024_10-infratores_doadores/data-tidy/infracoes_total.rds
2024_10-infratores_doadores/data-tidy/infracoes_tidy.csv
2024_10-infratores_doadores/data-tidy/infracoes_cpf.csv
2024_10-infratores_doadores/data-raw/auto_infracao_csv
2024_10-infratores_doadores/data-raw/auto_infracao_xml
